/* #box{
    height: 150px;
    width: 160px;
    background-color: #d25454;
    border: 2px solid black;
  
    text-align: center;
} */

/* .content{
    background-color: aqua;
    color:red;
}

.newclass{
    background-color: chartreuse;
} */


/**************** EVENTS************* */
div{
    height: 100px;
    width: 100px;
    margin-top: 14px;
    background-color: #702828;
    color: aqua;
}