/* h1{
    background-color: #d97a7a;
    color: black;
}
body{
    background-color: #83bcb6;
}
button{
    background-color: #202447;
    color: azure;
}
#heading{
    background-color: pink;
}
.para{
    background-color:aqua;
} */

.box{
    height: 80px;
    width: 100px;
    background-color: blueviolet;
    margin: 3px;
    text-align: center;
     
}